header{
    background-color: red;
    color: yellow;
    text-align: center; 
    height: 45px;  
    text-transform: uppercase;
    font-size: xx-large;    
}
body{
    background-color: red;  
    background-image: url(/home/Background-Foto.png);
    margin-top: 10px;
}

nav p{
text-align: center;
font-style: italic;
color: yellow;
font-size: medium;
margin: 30px 0px 50px 0px;
}

nav button:hover{
    background-color:yellow;
    color: red;    
}

nav{
    text-align: center;
}

nav button:active{
    background-color: goldenrod;
    color: yellow;
}
footer{
    margin-top: 435px;
    background-color: yellow;
    text-align: center;
    font-size: large;
    margin-left: 310px;
    margin-right: 310px;
}